body {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  background-color: #f8e8ff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: #ff69b4;
}

.form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #666;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #ff69b4;
  border-radius: 20px;
  background-color: #ffe6f2;
  color: #ff69b4;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.story {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  margin-top: 0;
  color: #ff69b4;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #ff69b4;
  border-radius: 20px;
  background-color: #ffe6f2;
  color: #ff69b4;
  resize: none;
}